/* .body-photoGallery {
  width: 100%;
  height: 100%;
  margin: 0;
} */

.appContainer {
  background: white;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  overflow: scroll;
}

.expandContainerBody {
  position: absolute;
  z-index: 2;
}

.fixedContainerBody {
  background: white;
  height: 800px;
  overflow: hidden;
}

.showShareBackground {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.75;
  z-index: 3;
}
.noShareBackground {
  margin: 0;
  padding: 0;
}
