.gallerydetailgridItem {
  width: 100%;
  height: 100%;
  position: relative;
}

.gallerydetailgridItem .gallerydetailgridImage {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallerydetailgridItem .gallerydetailgridImage img {
  width: 100%;
  height: 100%;
  display:block;
  object-fit: cover;
}

.gallerydetailgridSubContainer:nth-child(1) {
  grid-column: span 2;
}

.gallerydetailgridSubContainer:nth-child(3n + 1) {
  grid-column: span 2;
}