

.gallery-container-detail .gallery-item-detail .image-detail img {
  width: 50%;
  height: 50%;
  overflow: hidden;
}

.gallery-container-detail .gallery-item-detail .image-detail {
  display: flex;
}

.detailImg {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.idxInfo {
  display: inline;
  position: absolute;
  left: 45%;
}

.gallery-container-detail .gallery-item-detail .image-detail .nextBtn {
  float: right;
}

.shareBtn {
  display: inline;
  float: right;
}

.saveListBtn {
  display: inline;
  float: right;
  margin-right: 25px;
}

.detail-top-row {
  margin-top: 35px;
  margin-bottom: 35px;
}

.closeBtn {
  margin-left: 25px;
}