/* .gallery-container-detail .gallery-item-detail .image-detail img {
  width: 50%;
  height: 50%;
  overflow: hidden;
} */

/* .gallery-container-detail .gallery-item-detail .image-detail {
  display: flex;
  align-items: center;
} */

.detailImg {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 600px;
  max-height: 400px;
  text-align: center;
}

.idxInfo {
  display: inline;
  position: absolute;
  left: 45%;
}

.prevBtn {
  display: inline-block;
  float: left;
}

.nextBtn {
  display: inline-block;
  float: right;
  vertical-align: top;
}

.shareBtn {
  display: inline;
  float: right;
}

.saveListBtn {
  display: inline;
  float: right;
  margin-right: 25px;
}

.detail-top-row {
  margin-top: 35px;
  margin-bottom: 35px;
}

.closeBtn {
  margin-left: 25px;
}