.detailImg {
  display: inline-block;
  height: 65vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align: center;
}

.idxInfo {
  display: inline;
  position: absolute;
  left: 45%;
}

.detail-bottom-wrapper {
  display: flex;
  align-items: center;
}

.prevBtn {
  float: left;
  top: 50%;
}

.nextBtn {
  display: inline-block;
  float: right;
  vertical-align: middle;
}

.shareBtn {
  display: inline;
  float: right;
}

.saveListBtn {
  display: inline;
  float: right;
  margin-right: 25px;
}

.detail-top-row {
  margin-top: 45px;
  margin-bottom: 30px;
}

.closeBtn {
  margin-left: 25px;
}
