.save-popup {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin: auto;
  background-color:black;
  opacity: 0.95;
}

.save-popup-inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
}

