.share-popup-inner {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
  width: 340px;
  height: 668px;
  margin: auto;
  background: white;
  opacity: 1;
  z-index: 4;
  border-bottom: 50px solid rgba(0,0,0,0.75);
}

.share-content-container {
  display: block;
  font-family: 'Montserrat', sans-serif;
}

.share-closeBtn-wrapper {
  display: block;
}

tr {
  display: block;
  width: 285px;
  margin-left: 25px;
  margin-right: 25px;
  padding:20px 0px;
  border-bottom: 1px solid rgb(235, 235, 235)
}

.share-span {
  font-size: 22px;
  font-weight: 600;
  color: rgb(72, 72, 72)
}

.share-method-link {
  position: relative;
  bottom: 3px;
  font-size: 15px;
  color: rgb(0, 132, 137);
  margin-left: 8px;
}

.share-close-btn {
  background-color: #ffffff;
  margin: 24px 24px 0px 24px;
  border: none;
}

.share-method-btn {
  background-color: #ffffff;
  padding: 0px;
  border: none;
  cursor: pointer;
}

.share-close-btn:focus {
  outline: 0;
}

.share-method-btn:focus {
  outline: 0;
}
